@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');
 
 .newrecipe {
    display: flex;
    position: absolute;
    justify-content: space-around;
    left: 65rem;
    color: rgb(12, 0, 0);
    border: rgb(10, 10, 10);
    bottom: 610px;
}
 
.boton {

    position: absolute;
    top: 50%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.705);
    border: none;
    cursor: pointer; 
    font-weight: 600;
    width: 15rem;
    height: 2.5rem;
    

}

.boton:hover {
    background-color: rgba(255, 255, 255, 0.486);
    color: rgba(0, 0, 0, 0.651);
    transition: 0.100s;
}

.title{
    display: flex;
    color: rgb(12, 0, 0);
    left: 0fr;
    margin-left: 550px;
    font-size: 130%;
    margin-top: -30px;
    cursor: pointer;
    font-family: "Pacifico";

}

.load {
    bottom: 10%;
    left: 600rem;
    justify-content: right;
}

.filterdiets{
display: flex;
height:20px;
width:150px;
position: relative;
bottom:40px;
left:17px;
}

.filteralph{
display: flex;
height:20px;
width:150px;
position: relative;
bottom:60px;
left:180px;
}

.filterpun {
display: flex;
height:20px;
width:150px;
position: relative;
bottom:80px;
left:350px;
}
.filterpun:hover, .filteralph:hover, .filterdiets:hover {
    background-color: rgba(255, 255, 255, 0.274);
    color: rgba(7, 6, 6, 0.87);
    transition: 0.100s;
}

.cartas {

    display: flex;
    flex-direction: initial;
    
    
   /*  flex-direction: initial;
    width: 220px;
  
    height: 270px;
  
    background-color: #ffffffdc;
  
    margin-left: 20px;
  
    margin-top: 150px;
  
    border-radius: 0.9rem;
  
    backdrop-filter: blur(4px);

    display: flex;

    text-decoration: none;
    text-decoration: none; */
}

.paginado {
    margin-left: 150px;
    margin-top: -60px;
}
