  .paginado {
    display:inline;
    padding-left:30px;
    padding-right:30px;
 
    background-color: rgba(255, 255, 255, 0.705);
    border: black;
    cursor: pointer; 
    font-weight: 600;
    width: 15rem;
    height: 2.5rem;
    text-decoration: none;
    
   border-style:solid;
   border-color:rgba(3, 0, 0, 0.849);
   
}

 .paginado:hover {
    background-color: rgba(19, 4, 4, 0.281);
    color: rgba(0, 0, 0, 0.651);
    transition: 0.100s;
}
   