@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* body{
width: 100vw;
height: 100vh;
background: url("./create.jpg")

} */
.conteiner {
    width: 700px;
    height: 500px;
    background-color: #ffffff7e;
    margin-top: 90px;
    border-radius: 0.9rem;
    backdrop-filter: blur(4px);
    margin-left: 380px;
}

 .name, .summary, .spoonacularScore, .healthscore, .steps, .types {
    height: 60px;
    flex: 0 0 200px;
    margin-left: 20px;
    color: red;
    
} 

 .summary {
   margin-left: 40%;
   margin-top: -7%;
} 

.steps {
    margin-left: 40%;
    margin-top: 5%;
 } 

 .types {
    margin-left: 3%;
    margin-top: -12%;
 } 

.title {
    

    background-color: rgb(151, 148, 148); /* Fallback color */
    background-color: rgba(204, 200, 200, 0.342); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 5px;
    text-align: center;
    font-family: 'Dancing Script';
 
     
}

.boton {
    position: absolute;
    top: 85%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0.705);
    border: none;
    cursor: pointer; 
    font-weight: 600;
    width: 15rem;
    height: 2.5rem;
}

.home {
    font-size: 2.2em;
}

/* .name {
    margin-left: 5%;
    margin-top: 5%;
    
}  */